.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #5454546b;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.image-wrap {
  position: relative;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.new-member {
  padding: 0.5rem;
  background-color: #e23f3f;
  color: #ffffff;
  border-radius: 16px;
  position: absolute;
  right: 1rem;
  top: 0;
}
.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.total-count {
  background-color: #ffe45e;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.couter-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.counter {
  border: 1px solid #917c12;
  border-radius: 8px;
  padding: 3rem 5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.counter-button {
  background-color: #8d7c28;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.pointer-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.pointer {
  width: 50px;
  height: 50px;
  background-color: #e23f3f;
  border-radius: 100%;
  position: absolute;
}
